.App{
    width: 100vw;
    height: 100vh;
  }
  body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
  }
  .navbar{
    background-color: rgb(7, 6, 6);
    width: 100%;
    height: 70px;
    display: flex;
  }
  
  .leftSide{
    flex: 70%;
  }
  .rightSide{
    flex: 30%;
   
  }
  .boxLogo{
    position: relative;
    top: 16px;
    left: 20px;
    background-color: rgb( 255, 195, 0);
    width: 5em;
    height: 40px;
    border-radius: 5px;
  }
  .boxLogo a{ 
    display: inline-block;
    margin: 5px;
    font-size: 150%;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color: rgb(7, 6, 6);
  }
  .navbar .rightSide .boxLinks{
    max-height: 70px; 
  }
  
  .leftSide .boxLinks{
    position: absolute;
    top: 15px;
    left: 109px;  
  }
  .boxMenu {
    display: inline-block;
    margin:10px;
    color: rgb(88, 88, 88);
    font-size: 1.3em;
  }
  .boxMenu a{
    color: rgb(250, 250, 250);
    font-family: sans-serif;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    padding: 11px;
  }
  
  .boxSearch{
    position: relative;
    top: -40px;
    left: 195px;
    background-color: #fff;
    width: 207%;
    height: 35px;
    color: rgb(7, 6, 6);
  }
  .boxSearch a:first-child{
    width: 49px;
    height: 23px;
    display: inline-block;
    margin: 0px -63px;
    padding: 6px 7px;
    font-size: 100%;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(7, 6, 6);
    border-radius: 5px 0px 0px 5px;
  }
  .boxSearch input{
    width: 87%;
    height: 25px;
    align-content: center;
    display: flex;
    margin: -29px 25px;
    border: none;
    outline: none;
  }
  .boxSearch button{
    float: right;
    border: none;
    background-color: transparent;
  }
  .rightSide .boxLinks{
    position: absolute;
    top: 0%;
    left: 66%;
  }
  .boxLinks li{
    float: left;
     list-style: none;
    text-decoration: none;
  }
  .rightSide .boxLinks li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 11px 10PX;
    margin: 0px 15px;
    list-style: none;
    text-decoration: none;
      
  }
  .boxLinks .svg-inline--fa.fa-w-16{
    float: right;
    margin: 1px 22px;
    font-size: 20px;
  }
  .boxLinks li:nth-child(2){
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    font-size: xx-large;
    
    
  }
  .boxLinks li:nth-child(2):hover{
    background-color: transparent;
  }
  .boxLogo:hover{
  background-color:  rgb(206, 158, 1);
  }
  .boxMenu :hover{
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
  }
  .boxSearch a:hover{
    background-color: rgb(129, 127, 127);
  }
  .boxLinks li:hover{
    background-color: rgb(51, 51, 51);
  }
  @media only screen and (min-width:200px) and (max-width:900px){
    .boxSearch{
      width: 300px;
  
    }
  
    .boxSearch input{
      width: 220px;
    }
    .rightSide .boxLinks li:nth-child(2n+0) {
      
      
      margin-right: -71px;
      padding-left: 73px;
    }
  }
  @media only screen and (min-width:200px) and (max-width:676px){
  
    .boxSearch{
      width: 220px;
  
    }
  
    .boxSearch input{
      width: 160px;
    }
    .rightSide .boxLinks li:last-child {
      
      margin-left: 27px;
      padding-left: 0px;
    }
    .rightSide .boxLinks li:nth-child(2){
      display: none;
    }
    
  
  }
  @media only screen and (min-width:200px) and (max-width:1200px){
    .rightSide .boxLinks li:nth-child(2n+1)  {
      display: none;
    
    }
  }
  
  @media only screen and (min-width:300px) and (max-width:600px){
    .rightSide .boxLinks li{
      display: none;
    }
  }

  